<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 id="title">ember-row-default-action</h2>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              <span class="fa fa-search" aria-hidden="true"></span>
            </th>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          {{#each items as |item|}}
            {{#row-default-action current-row=current-row row-id=item.id action=(action "defaultAction" item.id)}}
              <td class="table-context-column">
                {{#if (eq current-row item.id)}}
                  <span class="fa fa-search" aria-hidden="true"></span>
                {{/if}}
              </td>
              <td id={{unique-name-helper model='itemId' name='itemId' dbid=item.id}}>{{ item.id }}</td>
              <td id={{unique-name-helper model='itemName' name='itemId' dbid=item.id}}>{{ item.name }}</td>
              <td id={{unique-name-helper model='itemName' name='itemEmail' dbid=item.id}}>{{ item.email }}</td>
            {{/row-default-action }}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
